@import 'base.less';

/* 主体区域样式 */
#main {
  background-color: #f2f2f2;
  margin-bottom: 0.2rem;
  .title {
    height: 0.36rem;
    line-height: 0.36rem;
    padding-left: 0.08rem;
    border-top: 0.01rem solid #ebebeb;
    border-bottom: 0.01rem solid #ccc;
    background-color: #ebebeb;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
    color: #5a5a5a;
    font-size: 0.14rem;
    a {
      color: #5a5a5a;
    }
  }
  .content {
    .sub-title {
      font-size: 0.16rem;
      color: #874604;
      background-color: #eee;
      padding-left: 0.1rem;
      height: 0.42rem;
      line-height: 0.42rem;
      border: 1px solid #ccc;
      margin: 0.1rem 0.05rem;
    }
    .brand-list {
      .mui-table-view {
        background-color: #f2f2f2;
        &::before,
        &::after {
          height: 0;
        }
        .mui-table-view-cell {
          &::after {
            right: 0.15rem;
            background-color: #6d6b6b;
          }
          .mui-navigate-right {
            display: block;
            height: 0.41rem;
            border-bottom: 0;
            font-size: 0.16rem;
            font-weight: bold;
            &::after {
              content: '\e581';
              color: #909090;
              font-size: 0.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}