@import "base.less";

body {
  padding-top: 0;
}

/* 优惠券头部区域 */
#couponHeader {
  background-color: @main-color;
  display: flex;
  .left,
  .right {
    padding-top: 0.05rem;
    a {
      display: block;
      width: 0.44rem;
      height: 0.44rem;
      line-height: 0.44rem;
      text-align: center;
      i {
        color: white;
        font-size: 0.24rem;
      }
    }
  }
  .middle {
    flex: 1;
    color: white;
    font-size: 0.2rem;
    line-height: 0.44rem;
    text-align: center;
  }
}

/* 主体区域样式 */
#main {
  padding-bottom: 0.1rem;
  #couponList {
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem 0.1rem 0;
    .coupon-title {
      width: 100%/3;
      .inner {
        margin-right: 0.1rem;
        margin-bottom: 0.1rem;
        height: 1rem;
        border: 1px solid #eeeeee;
        .logo {
          text-align: center;
          height: 0.7rem;
          img {
            height: 100%;
          }
        }
        .title {
          font-size: 0.14rem;
          text-align: center;
        }
      }
      &:nth-child(3n) .inner {
        margin-right: 0;
      }
    }
  }
  #bottomHeader {
    .title {
      height: 0.36rem;
      line-height: 0.36rem;
      padding-left: 0.08rem;
      border-top: 0.01rem solid #ebebeb;
      border-bottom: 0.01rem solid #ccc;
      background-color: #ebebeb;
      background: -webkit-gradient( linear, 0 0, 0 100%, from(#ffffff), to(#ebebeb));
      color: #5a5a5a;
      font-size: 0.14rem;
      a {
        color: #5a5a5a;
      }
    }
  }
}